<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Property ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "property", collection: @properties %>
  </tbody>

</table>

