<h1>Stats</h1>

<table border="1">
  <thead>
    <tr>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Elapsed</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "stat", collection: @stats %>
  </tbody>

</table>

